# Created by .ignore support plugin (hsz.mobi)
.idea/
alibaba-group/target/
commons/src/main/resources/
commons/src/test/
commons/target/
nocos-spring/nacos-spring-config-example/target/
.gitignore
.mvn/
nocos-spring/nacos-spring-discovery-example/target/
nocos-spring-boot/nocos-spring-boot-config/target/
nocos-spring-boot/target/
